.max-width {
  width: 100%;
}

.max-height {
  height: 100vh;
}

.overflow-hidden {
  overflow: hidden;
}

.grayscale {
  filter: grayscale();
}

.no-filter {
  filter: none;
}

.background-black {
  background-color: black;
}

.background-space {
  background-color: #37425b;
  background-image: url("../img/background/space.svg");
}

.background-grey {
  background-color: #30303b;
}

.background-darkblue {
  background-color: #003b59;
}

.background-green {
  background-color: green;
}

.background-red {
  background-color: #c23a22;
}

.background-crimson {
  background-color: #b9182e;
}

.background-white {
  background-color: white;
}

.easy {
  background-color: #44b14d;
}

.normal {
  background-color: #e2861c;
}

.hard {
  background-color: #c43124;
}

.selected {
  background-color: #933ee1;
}

.outline {
  outline: 0.4vh solid;
}

.outline-white {
  outline-color: white;
}

.item-table {
  width: 11vh;
  height: 11vh;
  outline: 0.6vh solid;
  border: 0.6vh solid black;
}

.outline-grey {
  outline-color: #5c5c5c;
}

.block {
  outline-color: #ea3c53;
}

.fire {
  outline-color: #e25822;
}

.ice {
  outline-color: #86d6d8;
}

.wind {
  outline-color: #00a86b;
}

.machine {
  outline-color: #c4b212;
}

.explosion {
  outline-color: #780a02;
}

.snowbot {
  outline-color: #65c460;
}

.blizzard {
  outline-color: #09204a;
}

.water {
  outline-color: #0092d8;
}

.hurricane {
  outline-color: #104a5b;
}

.heatWave {
  outline-color: #ee4a48;
}

.unselected {
  animation: blinkBorder 3s linear infinite;
}

.active {
  animation: blinkColors 13s linear infinite;
}

.text-white {
  color: white;
}

.text-shadow {
  text-shadow: 0.1vh 0.1vh black;
}

.bold {
  font-weight: bold;
}

.border-white {
  border: 0.6vh solid white;
}

.no-border {
  border: none;
}

.reverse {
  transform: rotate(180deg);
}

.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

.invisible,
img[src=""] {
  opacity: 0;
}

body {
  font-family: "Poppins";
}

.side-bar {
  width: 6%;
}

.icon-menu {
  width: 4vh;
  height: 4vh;
}

.icon-table {
  width: 9vh;
  height: 9vh;
}

.player-ui {
  background: url("./../img/background/panel.svg") repeat-x center/cover;
}

.bottom-container-player-ui{
  background-color: #f2ca4a;
  height: 30vh;
}

.players-container {
  width: 23vh;
  height: 27vh;
  margin-top: 16vh;
}

.first-ui{
 height: 35vh;
}

.life {
  width: 1.3vh;
  height: 10.9vh;
  margin-top: 1.8vh;
  margin-left: 1.5vh;
}

.lost-life {
  transition: height 1s;
  height: 0;
}

.container-hp {
  width: 3.8vh;
  height: 3.1vh;
  margin-top: 10.5vh;
  font-size: 1.6vh;
  border-top-right-radius: 0.8vh;
}

.minus-percentage {
  padding: 0.6vh;
  font-size: 1.4vh;
  margin-left: 3.2vh;
  margin-top: 2vh;
  border-bottom-right-radius: 2vh;
}

#computer-photo {
  background: url("./../img/portraits/dog.jpg") no-repeat center/cover;
}

#player-photo {
  background: url("./../img/portraits/default.jpg") no-repeat center/cover;
}

.photo {
  width: 16vh;
  height: 14vh;
  margin-left: 2.7vh;
  margin-top: 1.5vh;
  border-top-right-radius: 4.5vh;
}

.player-name {
  width: 14.9vh;
  height: 2.3vh;
  margin-top: 11.3vh;
  font-size: 1.45vh;
}

.selections {
  width: 17.6vh;
  height: 7vh;
  margin-left: 1.3vh;
  border-bottom-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
}

.option {
  width: 4.5vh;
  height: 4.5vh;
  border-radius: 0.8vh;
}

.checkbox {
  transform: scale(3.2);
}

.submenu {
  width: 7.5vh;
}

#left-submenu {
  margin-top: 7vh;
  margin-right: 21.5vh;
  height: 15.3vh;
  border-bottom-left-radius: 1vh;
}

#right-submenu {
  margin-top: 10vh;
  margin-left: 23vh;
  height: 12vh;
  border-bottom-right-radius: 1vh;
}

.item-submenu-left {
  height: 25%;
  padding-right: 1vh;
}

#right-submenu span {
  height: 33.33%;
  padding-left: 1vh;
}

#cast-reaction{
  width: 8vh;
  height: 8vh;
  border-radius: 10vh;
  margin-left: 12vh;
  background: url("../img/logos/reactions.svg") no-repeat center/7vh;
  border: 0.7vh solid #e25822;
  background-color: white;
}

.middle {
  height: 60vh;
}

.table {
  height: 35vh;
}

.difficulties {
  width: 89.3%;
  height: 2.5vh;
  font-size: 1.7vh;
}

.difficulty {
  width: 33.33%;
}

.difficulty:hover {
  background-color: #752f7d;
}
