.max-width {
  width: 100%;
}

.side-bar {
  width: 5vw;
  height: 100vh;
}

.max-height {
  height: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.background-black {
  background-color: black;
}

.background-space {
  background-color: #37425b;
}

.background-grey {
  background-color: #30303b;
}

.background-darkblue {
  background-color: #003b59;
}

.background-green {
  background-color: green;
}

.background-red {
  background-color: #c23a22;
}

.background-white {
  background-color: whitesmoke;
}

.text-white {
  color: white;
}

.text-shadow {
  text-shadow: 1px 1px black;
}

.bold {
  font-weight: bold;
}

.border-white {
  border: 4px solid white;
}

.box-shadow {
  box-shadow: 2px 2px 10px black;
}

.cover-background {
  background-size: cover;
}

.outline-white {
  outline: 2px solid whitesmoke;
}

.reverse {
  transform: rotate(180deg);
}

.hidden {
  visibility: hidden;
}

.invisible {
  opacity: 0;
}

.container-hp,
.option {
  border-radius: 10px;
}

.player-ui {
  background: url("./../img/panel.png") repeat-x center;
  height: 45vh;
}

.playersContainer {
  width: 30%;
  height: 15rem;
  margin-top: 5rem;
}

.life {
  width: 1rem;
  height: 6.4rem;
  margin-top: 15px;
  margin-left: 12px;
}

#computer-photo {
  background: url("./../img/portraits/dog.jpg") no-repeat center/cover;
}

#player-photo {
  background: url("./../img/portraits/default.jpg") no-repeat center/cover;
}

.photo {
  width: 9rem;
  height: 130px;
  margin-left: 28px;
  margin-top: 13px;
  border-top-right-radius: 70px;
}

.lost-life {
  transition-property: height;
  transition-duration: 1s;
  height: 0;
}

.container-hp {
  width: 2.4rem;
  height: 1.9rem;
  margin-top: 98px;
  font-size: 0.85rem;
}

.player-name {
  width: 140px;
  padding: 4px 8px 0 0;
  margin-top: 106px;
  font-size: 0.65rem;
}

.selections {
  width: 15rem;
  height: 4rem;
  border-radius: 13px;
}

.option {
  width: 2.5rem;
  height: 2.5rem;
}

.submenu {
  width: 10rem;
  height: 5rem;
}

.middle {
  height: 10vh;
}
